@{
    ViewBag.PageTitle = "Admin Account";
    Layout = "_LayoutAdmin";
}

<section class="page">
    <h1>Managing users & courses</h1>
    <h2>Please choose Courses or Users from the navbar above to start editing data.</h2>
</section>