@section styles {
<link rel="stylesheet" href="~/css/landing-page.css">
}

<div class="landing">
    <div class="content">
        <h1>Welcome to Westcoast Education!</h1>
        <p class="content-text">
            text: "At vero eos et accusamus et iusto odio dignissimos ducimus qui blanditiis praesentium voluptatum deleniti atque corrupti quos dolores et quas molestias excepturi sint occaecati cupiditate non provident, similique sunt in culpa qui officia deserunt mollitia animi, id est laborum et dolorum fuga.At vero eos et accusamus et iusto odio dignissimos ducimus qui blanditiis praesentium voluptatum deleniti atque corrupti quos dolores et quas molestias excepturi sint occaecati cupiditate non provident..."</p>
        <div class="btn-front-page">
            @Html.ActionLink("Enter the courses list!", "Index", "Classroom")
        </div>
    </div>
</div>
<div class="background-image">

</div>
